#define
  &>section
    width 66%
  &>aside
    width 33%
    
  header
    border-color $c-dark-cool
    h1, h2
      color $c-mid-cool
      
    h1 
      inline-block()
      width 600px
      
  section section header
    border-color desaturate($c-dark-cool, 50%)
    h1, h2
      color desaturate($c-mid-cool, 50%)
    h1
      inline-block()
      width 300px
  
  section
    border-color lighten($c-dark-cool, 80%)
    
  .access-add
    replace-text('icon_add.png', inline-block)
    float right
    &:hover
      background-image url(path('icon_add_hover.png'))

#define-delete
  inline-block()
  replace-text('icon_delete.png')
  margin-top gap(0.5)
  float right
  &:hover, &.active
    background-image url(path('icon_delete_hover.png'))

.define-edit-button, .define-delete-button
  position absolute
  top gap(1)

.define-edit-button
  replace-text('icon_edit.png')
  right gap(1) + 48px
  &:hover
    background-image url(path('icon_edit_hover.png'))
    
.define-delete-button
  replace-text('icon_delete.png')
  right gap(1)
  &:hover
    background-image url(path('icon_delete_hover.png'))


#define-info-pane
  .col-inner
    background lighten($c-light, 15%)
    box-shadow( inset 0px 0px 3px rgba(0,0,0,0.2))
    padding gap(1)

.access-info
  hgroup
    margin-bottom gap(1)

  h1 
    font-size(1.8)
    color $c-mid-cool
  h2
    font-size(1.4)
    color $c-dark-cool
  h3
    font-size(1.2)
    color $c-dark-cool
  h3+p
    margin-top 0
  
  dl
    clearfix()
  
  dt
    float left
    width 150px
    clear left
    
  dd
    overflow hidden
    &.allow
      color #0a0
    &.deny
      color #c00
      
.define-form
  h1 
    font-size(1.8)
    color $c-mid-cool
  label
    font-size(1.2)
    display block
    cursor pointer
    small
      font-size(0.9)
      
    &[for="form-enable"]
      display inline
      
  input[type="text"], textarea
    font-size(1.2)
    width 100%
  input[type="submit"]
    font-size(1.2)
    width 80%
    margin 0 auto
    display block
  
  input[type="checkbox"]
    width gap(1)
    height gap(1)