#define
  section#define-main
    .col-inner
      header
        h1 Access Definitions 
        
      section#define-access
        header
          h1 Accesses
          a.access-add#add-new-access(href="#", title="Add New Access") Add New
          
        .items
          article.item-access
            h2.item-name Login
          article.item-access
            h2.item-name View profile
          article.item-access
            h2.item-name Check credits
          article.item-access
            h2.item-name Access admin area
          article.item-access
            h2.item-name Login
          article.item-access
            h2.item-name View profile
          article.item-access
            h2.item-name Check credits
          article.item-access
            h2.item-name Access admin area
          article.item-access
            h2.item-name Login
          article.item-access
            h2.item-name View profile
          article.item-access
            h2.item-name Check credits
          article.item-access
            h2.item-name Access admin area
           
      section#define-access-group
        header
          h1 Access Groups
          a.access-add#add-new-access-group(href="#", title="Add New Access Group") Add New
        .items
          article.item-access-group
            h2.tem-name Player 
          article.item-access-group
            h2.item-name VIP Player
          article.item-access-group
            h2.item-name Affiliates
          article.item-access-group
            h2.item-name Administrator
          article.item-access-group.active
            h2.item-name Player 
          article.item-access-group
            h2.item-name VIP Player
          article.item-access-group
            h2.item-name Affiliates
          article.item-access-group
            h2.item-name Administrator

      
    
  aside#define-info-pane.access-info
    .col-inner
      hgroup
        h2 Access group details:
        h1 Player
        
      h3 Description
      p Lorem ipsum dolor sit amet consectetur adipiscing elit.
      
      h3 Access permissions
      dl
        dt Login
        dd.allow Allow
        dt View Profile
        dd.allow Allow
        dt Check credits
        dd.allow Allow
        dt Access admin area
        dd.deny Deny