#define
  section#define-main
    .col-inner
      header
        h1 Access Definitions 
        
      section#define-access
        header
          h1 Accesses
          a.access-add#add-new-access(href="/define/access/create", title="Create New Access") Create New
        .items#define-items-access
        
      section#define-access-group
        header
          h1 Access Groups
          a.access-add#add-new-access-group(href="/define/access-group/create", title="Create New Access Group") Create New
        .items#define-items-access-group

    
  aside#define-info-pane
    .col-inner
