#define
  section#define-main
    .col-inner
      header
        h1 Access Definitions 
        
      section#define-access
        header
          h1 Accesses
          a.access-add#add-new-access(href="/define/access/create", title="Create New Access") Create New
        .items#define-items-access
        
      section#define-access-group
        header
          h1 Access Groups
          a.access-add#add-new-access-group(href="/define/access-group/create", title="Create New Access Group") Create New
        .items#define-items-access-group

    
  aside#define-info-pane.access-info
    .col-inner
      hgroup
        h2 Access group details:
        h1 Player
        
      h3 Description
      p Lorem ipsum dolor sit amet consectetur adipiscing elit.
      
      h3 Access permissions
      dl
        dt Login
        dd.allow Allow
        dt View Profile
        dd.allow Allow
        dt Check credits
        dd.allow Allow
        dt Access admin area
        dd.deny Deny