#manage
  section#manage-request
    .col-inner
      header
        h1 Requests
        .manage-filters
          h2 Filters
          a.manage-add-filter#manage-add-request-filter(href="#", title="Add Request Filter") Add Filter
          ul#manage-request-filters
        form.manage-search#search-request
          input(type="text", name="search-request")
          input(type="submit", value="Search")
      
      section.items
        h1 Results
        article.item-request
          img.item-thumb(src="http://graph.facebook.com/manchoy.kau/picture", width="36", height="36")
          h2.item-name McBossy
        article.item-request.active
          img.item-thumb(src="http://graph.facebook.com/johnsonhsgoh/picture", width="36", height="36")
          h2.item-name JoBossy
        article.item-request
          img.item-thumb(src="http://graph.facebook.com/manchoy.kau/picture", width="36", height="36")
          h2.item-name McBossy
        article.item-request  
          img.item-thumb(src="http://graph.facebook.com/johnsonhsgoh/picture", width="36", height="36")
          h2.item-name JoBossy
        article.item-request
          img.item-thumb(src="http://graph.facebook.com/manchoy.kau/picture", width="36", height="36")
          h2.item-name McBossy
        article.item-request  
          img.item-thumb(src="http://graph.facebook.com/johnsonhsgoh/picture", width="36", height="36")
          h2.item-name JoBossy
        article.item-request.active
          img.item-thumb(src="http://graph.facebook.com/manchoy.kau/picture", width="36", height="36")
          h2.item-name McBossy
        article.item-request  
          img.item-thumb(src="http://graph.facebook.com/johnsonhsgoh/picture", width="36", height="36")
          h2.item-name JoBossy
        article.item-request
          img.item-thumb(src="http://graph.facebook.com/manchoy.kau/picture", width="36", height="36")
          h2.item-name McBossy
        article.item-request  
          img.item-thumb(src="http://graph.facebook.com/johnsonhsgoh/picture", width="36", height="36")
          h2.item-name JoBossy
        article.item-request
          img.item-thumb(src="http://graph.facebook.com/manchoy.kau/picture", width="36", height="36")
          h2.item-name McBossy
        article.item-request  
          img.item-thumb(src="http://graph.facebook.com/johnsonhsgoh/picture", width="36", height="36")
          h2.item-name JoBossy
          
  section#manage-shortlist
    .col-inner
      header
        h1 Shortlist
        form.manage-search#search-access
          input(type="text", name="search-access")
          input(type="submit", value="Search")
      
      section.items
        h1 Shortlisted Requests
        article.item-request
          img.item-thumb(src="http://graph.facebook.com/manchoy.kau/picture", width="36", height="36")
          h2.item-name McBossy
        article.item-request
          img.item-thumb(src="http://graph.facebook.com/johnsonhsgoh/picture", width="36", height="36")
          h2.item-name JoBossy
      
      section.items
        h1 Selected Access
        article.item-access-group
          h2.item-name Player
        article.item-access
          h2.item-name View profile
        article.item-access
          h2.item-name Check credits
          
      span.shadow.shadow-left
      span.shadow.shadow-right
              
  section#manage-access
    .col-inner
      header
        h1 Access
        .manage-filters
          h2 Filters
          a.manage-add-filter#manage-add-access-filter(href="#", title="Add Access Filter") Add Filter
          ul#manage-access-filters
        form.manage-search#search-access
          input(type="text", name="search-access")
          input(type="submit", value="Search")
      
      section.items
        h1 Access Groups
        article.item-access-group
          h2.item-name Player 
        article.item-access-group
          h2.item-name VIP Player
        article.item-access-group
          h2.item-name Affiliates
        article.item-access-group
          h2.item-name Administrator
          
      section.items
        h1 Accesses
        article.item-access
          h2.item-name Login
        article.item-access
          h2.item-name View profile
        article.item-access
          h2.item-name Check credits
        article.item-access
          h2.item-name Access admin area
