!!!5
html
  head
    title= title
      
    //link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lora:400,400italic|Shanti&v2')
    link(rel='stylesheet', href='/css/style.css')
    
    script(src="/js/lib/yepnope.min.js")
    script
      yepnope([
        "/js/lib/jquery.min.js"
        , "/js/lib/jquery-ui.min.js"
        , "/js/lib/underscore-min.js"
        , "/js/lib/backbone-min.js"
        , "/js/lib/nimble-min.js"
        , "/js/templates.js"
        , "/js/views.js"
        , {
          load: "/js/models.js",
          callback: function() {
            // Setup items
            window.requests = new nacl.collections.Requests();
            window.accesses = new nacl.collections.Accesses();
            window.accessGroups = new nacl.collections.AccessGroups();
          }  
        }
        , "/js/script.js"
      ]);
    
  body
    #container
      header#header
        .inner-wrapper
          h1 
            a(href="/") node-acl
          nav
            ul
              li.active
                a(href="/manage") Manage
              li
                a(href="/define") Define
      #content!= body
    footer#footer
      .inner-wrapper
        p 
          a(href="https://github.com/cellkast/node-acl") node-acl
          |, open source NodeJS access control module.
    
    
    