html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
body,
input,
textarea {
  font-family: "Lora", serif;
  font-size: 14px;
  line-height: 1.5em;
}
h1,
h2,
h3 {
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
h1 {
  font-family: "Shanti", sans-serif;
}
a {
  color: #00717d;
  text-decoration: none;
  border: none;
}
a:active {
  color: #00717d;
}
a:visited {
  color: #00717d;
}
a:hover {
  color: #a4a66a;
}
p,
ol,
ul,
table {
  margin: 21px 0;
}
header ul,
footer ul,
nav ul,
header p,
footer p,
nav p {
  margin: 0;
  padding: 0;
}
nav h1 {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
nav li {
  display: inline-block;
  vertical-align: top;
}
.ie7 nav li {
  display: inline;
  zoom: 1;
}
.loading {
  background-image: url("/images/loading.gif") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.loading>* {
  display: none !important;
}
.items {
  text-align: center;
  min-height: 200px;
}
.items.active {
  border: 3px solid #ec0 !important;
}
.items h1 {
  text-align: left;
  text-transform: uppercase;
  color: #555;
  font-size: 16.8px;
  line-height: 1.5em;
  margin-bottom: 10.5px;
}
.items article {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  -webkit-border-radius: 5.25px;
  -moz-border-radius: 5.25px;
  border-radius: 5.25px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  margin: 2px;
  cursor: pointer;
  padding: 5.25px;
}
.ie7 .items article {
  display: inline;
  zoom: 1;
}
.items article h2 {
  color: #fff;
}
.items .item-request {
  width: 120px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAIAAAASmSbdAAAABmJLR0QA/wD/AP+gvaeTAAAAP0lEQVQImXWO0QmAQBTDQsdzIwdw7vhhvQeH/oXQlnJeR4AAUcoOS6wbfr1bhqAPt2/d8Mfeyrr1+uVvb/3lBiTfK4FlHUNBAAAAAElFTkSuQmCC") #616b3c;
}
.items .item-request:hover {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAIAAAASmSbdAAAABmJLR0QA/wD/AP+gvaeTAAAAPklEQVQImW2OyQkAMAzDRDbtVN2ga7qPhBylj4AEtgn7LAP8hAk1xvj5wxAuNa6uIjO7nk9+fbB3azf+zF0uniUp2f2lEoMAAAAASUVORK5CYII=") #7a864b;
}
.items .item-request img,
.items .item-request h2 {
  display: inline-block;
  vertical-align: middle;
}
.ie7 .items .item-request img,
.ie7 .items .item-request h2 {
  display: inline;
  zoom: 1;
}
.items .item-request img {
  margin-right: 10.5px;
}
.items .item-access-group {
  background: none;
  border-width: 4px;
  border-style: solid;
  border-color: #00717d;
  font-size: 16.8px;
  line-height: 1.5em;
  text-align: center;
  width: 150px;
}
.items .item-access-group h2 {
  color: #00717d;
}
.items .item-access-group:hover {
  border-color: #0093a3;
}
.items .item-access-group:hover h2 {
  color: #00cbe1;
}
.items .item-access-group.active {
  border-color: #d69720;
}
.items .item-access-group.active h2 {
  color: #e2a93c;
}
.items .item-access {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAIAAAASmSbdAAAABmJLR0QA/wD/AP+gvaeTAAAAPElEQVQImXWNsQ0AIRDDrAz2a9Cy/xL+AhAnBEUKJ5LD13qAEoPEg+suzM7dS6wMwcEevOLFfXWVr4frB+MIHjs6hTIUAAAAAElFTkSuQmCC") #32474e;
}
.items .item-access:hover {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAIAAAASmSbdAAAABmJLR0QA/wD/AP+gvaeTAAAAPElEQVQImW2OsQ0AMAjDrDzYU7r3+XSBglAHBhMjwtpHQI0tQB5cOwunH+5g3NzgzD34ex9//en1ejQGLt8XIHwbsqbeAAAAAElFTkSuQmCC") #3f5861;
}
.items .item-access.active,
.items .item-request.active {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAIAAAASmSbdAAAABmJLR0QA/wD/AP+gvaeTAAAAOUlEQVQImXXNywkAMAjA0OB8HbZDdY/0IJR+7MmI4GP0FkCAgeaErXP3d5OjXe319zQsjMq3MHiNCfS2OA3FlzpdAAAAAElFTkSuQmCC") #d6971f;
}
.items .item-access.active:hover,
.items .item-request.active:hover {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAIAAAASmSbdAAAABmJLR0QA/wD/AP+gvaeTAAAAKElEQVQImWN4d34yEwMDAxMDw38I/v8fwUdi/8cQx6cOyqeaOoL2AgCYzDZ/atFfWgAAAABJRU5ErkJggg==") #e5b14d;
}
.search,
.filters {
  display: inline-block;
  vertical-align: top;
}
.ie7 .search,
.ie7 .filters {
  display: inline;
  zoom: 1;
}
.search {
  margin-top: 5.25px;
  float: right;
}
.search input[type="submit"] {
  background: url("/images/icon_search.png") no-repeat center;
  display: inline-block;
  width: 21px;
  height: 21px;
  text-indent: -9999px;
  border: none;
  margin-left: 5.25px;
  cursor: pointer;
}
.filters {
  width: 50%;
}
.filters h2,
.filters .add-filter {
  display: inline-block;
  vertical-align: middle;
}
.ie7 .filters h2,
.ie7 .filters .add-filter {
  display: inline;
  zoom: 1;
}
.filters h2 {
  font-size: 19.599999999999998px;
  line-height: 1.5em;
  margin-right: 10.5px;
}
.add-filter {
  background: url("/images/icon_add.png") no-repeat center;
  display: block;
  width: 21px;
  height: 21px;
  text-indent: -9999px;
  border: none;
}
body {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAGQCAIAAADgOp2MAAAABmJLR0QA/wD/AP+gvaeTAAAAfUlEQVQ4jbWTOw7AIAxDrdz/iD1E5y7uVAkU8lPSAQlhOcCLg+e+BICQFACHZZ0vOh0t8n77Y436m8jivetiXD/UTY5R3V2j4vEXS0OfYOHmKlHb9SbzMcFC9aP4p463zWLXda4K/tFc9bLVm/MBlibHWo/zc97Jlcei5X8B+aNakDLUQk0AAAAASUVORK5CYII=") #f2d8a7 repeat-x;
}
.inner-wrapper {
  width: 80%;
  min-width: 960px;
  margin: 0 auto;
}
html,
body {
  height: 100%;
}
#container {
  min-height: 100%;
}
#content {
  padding-bottom: 31.5px;
  overflow: auto;
}
#footer {
  margin-top: -31.5px;
  position: relative;
  clear: both;
}
.ie7 #container {
  display: table;
  height: 100%;
}
#header {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAIAAAASmSbdAAAABmJLR0QA/wD/AP+gvaeTAAAAHElEQVQImWNgKGtiYmBgQOD///HziVFDKZ90PQA3jBdFFuFZHQAAAABJRU5ErkJggg==");
  border-bottom: 2px solid #003647;
  zoom: 1;
}
#header:before,
#header:after {
  content: "";
  display: table;
}
#header:after {
  clear: both;
}
#header h1,
#header nav {
  display: inline-block;
  vertical-align: top;
}
.ie7 #header h1,
.ie7 #header nav {
  display: inline;
  zoom: 1;
}
#header h1 {
  font-size: 33.6px;
  line-height: 1.5em;
  width: 200px;
}
#header a {
  color: #003647;
  text-shadow: 0 1px rgba(255,255,255,0.3);
}
#header nav {
  float: right;
}
#header nav a {
  padding: 15.75px 21px 5.25px;
  display: block;
  font-variant: small-caps;
  font-size: 19.599999999999998px;
  line-height: 1.5em;
  font-family: "Shanti", sans-serif;
}
#header nav a:hover {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAIAAAASmSbdAAAABmJLR0QA/wD/AP+gvaeTAAAAKElEQVQImWNg6JnNxMDAwMTw/z+EZvjPxPAfB42sDheNTz8x5pCnHwAMmy5dsUkptgAAAABJRU5ErkJggg==");
}
#header nav .active a {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAIAAAASmSbdAAAABmJLR0QA/wD/AP+gvaeTAAAAHklEQVQImWNgsHNlYmBkRMJMaHx0TEieCDVMVLcDALQMAU+15XvYAAAAAElFTkSuQmCC");
  border-width: 0 1px 0;
  border-style: solid;
  border-color: #007783;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.25);
}
#content {
  background: #fdf8ee;
  width: 95%;
  min-width: 960px;
  min-height: 100%;
  margin: 0 auto;
  border-left: 5.25px solid #e7b860;
  border-right: 5.25px solid #e7b860;
  text-align: center;
}
#content>div>section,
#content>div>aside {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  position: relative;
}
.ie7 #content>div>section,
.ie7 #content>div>aside {
  display: inline;
  zoom: 1;
}
#content section header {
  border-width: 5px 0 2px;
  border-style: solid;
  padding-bottom: 10.5px;
  margin-bottom: 10.5px;
  zoom: 1;
}
#content section header:before,
#content section header:after {
  content: "";
  display: table;
}
#content section header:after {
  clear: both;
}
#content section header h1 {
  font-size: 42px;
  line-height: 1.5em;
}
#content section section header {
  border-width: 0 0 1px;
  border-style: solid;
  padding-bottom: 10.5px;
  margin-bottom: 10.5px;
  zoom: 1;
}
#content section section header:before,
#content section section header:after {
  content: "";
  display: table;
}
#content section section header:after {
  clear: both;
}
#content section section header h1 {
  font-size: 25.2px;
  line-height: 1.5em;
}
#content .col-inner {
  padding: 10.5px;
}
#content section section {
  padding-bottom: 10.5px;
  margin-bottom: 10.5px;
  border-width: 0 0 1px;
  border-style: dotted;
}
#footer {
  background: #003647;
  color: #fdf8ee;
  font-size: 12.6px;
  line-height: 1.5em;
  text-align: center;
  height: 31.5px;
  line-height: 31.5px;
}
#footer a {
  color: #f2d8a7;
}
#manage>section {
  width: 33%;
}
#manage-request {
  background: #edede1;
}
#manage-request header {
  border-color: #515932;
}
#manage-request header h1,
#manage-request header h2 {
  color: #a4a66a;
}
#manage-request .items h1 {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
#manage-request section {
  border-color: #92a05a;
}
#manage-access {
  background: #e8fdff;
}
#manage-access header {
  border-color: #003647;
}
#manage-access header h1,
#manage-access header h2 {
  color: #00717d;
}
#manage-access section {
  border-color: #006180;
}
#manage-shortlist {
  background: #f6e5c4;
}
#manage-shortlist .col-inner {
  border-width: 0 5px 0;
  border-style: solid;
  border-color: #d69720;
}
#manage-shortlist header {
  border-color: #8f6415;
}
#manage-shortlist header h1,
#manage-shortlist header h2 {
  color: #e2a93c;
}
#manage-shortlist section {
  border-color: #b27e1a;
}
#manage-shortlist .shadow {
  position: absolute;
  display: block;
  width: 4.2px;
  top: 0;
}
#manage-shortlist .shadow-left {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAABmJLR0QA/wD/AP+gvaeTAAAAGUlEQVQImWNmYGBwZGBg4GdgYGBjYGD4CwAFMwFXKK/BBAAAAABJRU5ErkJggg==");
  left: 5px;
}
#manage-shortlist .shadow-right {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAABmJLR0QA/wD/AP+gvaeTAAAAEklEQVQImWNkYGDgZmBgEIJhAAG/AEMI9+7RAAAAAElFTkSuQmCC");
  right: 5px;
}
#define>section {
  width: 66%;
}
#define>aside {
  width: 33%;
}
#define header {
  border-color: #003647;
}
#define header h1,
#define header h2 {
  color: #00717d;
}
#define header h1 {
  display: inline-block;
  vertical-align: top;
  width: 600px;
}
.ie7 #define header h1 {
  display: inline;
  zoom: 1;
}
#define section section header {
  border-color: #122d35;
}
#define section section header h1,
#define section section header h2 {
  color: #1f585e;
}
#define section section header h1 {
  display: inline-block;
  vertical-align: top;
  width: 300px;
}
.ie7 #define section section header h1 {
  display: inline;
  zoom: 1;
}
#define section {
  border-color: #006180;
}
#define .access-add {
  float: right;
  margin-top: 10.5px;
  padding-right: 25.2px;
  background: url("/images/icon_add.png") right center no-repeat;
  font-size: 16.8px;
  line-height: 1.5em;
}
#define-delete {
  display: inline-block;
  vertical-align: top;
  width: 48px;
  height: 48px;
  padding: 21px;
  border: 5px solid #ccc;
}
.ie7 #define-delete {
  display: inline;
  zoom: 1;
}
#define-delete.active {
  border-color: #fc0;
}
#define-info-pane .col-inner {
  background: #faf0dc;
  -webkit-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.2);
  box-shadow: inset 0px 0px 3px rgba(0,0,0,0.2);
  padding: 21px;
}
.access-info hgroup {
  margin-bottom: 21px;
}
.access-info h1 {
  font-size: 25.2px;
  line-height: 1.5em;
  color: #00717d;
}
.access-info h2 {
  font-size: 19.599999999999998px;
  line-height: 1.5em;
  color: #003647;
}
.access-info h3 {
  font-size: 16.8px;
  line-height: 1.5em;
  color: #003647;
}
.access-info h3+p {
  margin-top: 0;
}
.access-info dl {
  zoom: 1;
}
.access-info dl:before,
.access-info dl:after {
  content: "";
  display: table;
}
.access-info dl:after {
  clear: both;
}
.access-info dt {
  float: left;
  width: 150px;
  clear: left;
}
.access-info dd {
  overflow: hidden;
}
.access-info dd.allow {
  color: #0a0;
}
.access-info dd.deny {
  color: #c00;
}
.define-form h1 {
  font-size: 25.2px;
  line-height: 1.5em;
  color: #00717d;
}
.define-form label {
  font-size: 16.8px;
  line-height: 1.5em;
  display: block;
  cursor: pointer;
}
.define-form label small {
  font-size: 12.6px;
  line-height: 1.5em;
}
.define-form label[for="form-enable"] {
  display: inline;
}
.define-form input[type="text"],
.define-form textarea {
  font-size: 16.8px;
  line-height: 1.5em;
  width: 100%;
}
.define-form input[type="submit"] {
  font-size: 16.8px;
  line-height: 1.5em;
  width: 80%;
  margin: 0 auto;
  display: block;
}
.define-form input[type="checkbox"] {
  width: 21px;
  height: 21px;
}
