// Nib plugin
@import "nib"

// Global reset
global-reset()
reset-html5()

// Base configurations and helpers
@import "mixins/base"
@import "mixins/helpers"

// Base typographic styles
@import "mixins/typography"

// Individual pages
@import "pages/layout"
@import "pages/manage"
//@import "pages/index"